<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Generator From Only Answer</title>
    {% load static %}
    {% include "AIC_APP/modules/moduleHeader.html" %}
</head>
<body>
    {% include "AIC_APP/navbar.html" %}
    {% include 'AIC_APP/loading.html' %}
    <section class="content row mx-0 my-md-5 py-md-4">
        <div class="col-12 col-sm-12 col-md-5 d-flex flex-column justify-content-center align-items-center">
            <h1>How To Use?</h1>
            <div>
                <h6>Step 1 : Paste your site link here</h6>
                <h6>Step 2 (Optional) : Use advance option to specify Question/Answer Elements or Answer Elements</h6>
                <h6>Step 3 : Click submit to process Link</h6>
                <h6 class="text-muted">
                    Note : It is adviced to use Advance options for better accuracy,
                </h6>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-7 d-flex justify-content-center flex-wrap">
            <form action="#" method="post" id="linkForm" class="w-100">
                <div class="card text-light col-sm-12 col-12" id="linkInputContainer">
                    <div class="card-body">
                        <div class="form-control linkDisplayContainer">
                            <h5 id="linkInputLabel">Enter Your Link Here :</h5>
                            <input name="linkInput" id="linkInput" class="form-control" placeholder="Paste Your Link Here" />
                            <span class="my-3">
                                <div class="text-end">
                                  <button class="advanceOptions dropdown-toggle fw-bold text-primary mx-4 my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Advance Opitons
                                  </button>
                                </div>
                                <div class="collapse" id="collapseExample">
                                    <div class="form-check form-switch">
                                        <label class="form-check-label" for="tagsEnable">Enable Advance Options</label>
                                        <input class="form-check-input" type="checkbox" id="advanceEnable" />
                                    </div>
                                    <div class="card card-body" aria-disabled="">
                                        <div class="input-group mb-3">
                                          <span class="input-group-text p-0 border-0 outline-0">
                                              <select id="base" class="form-select" disabled="true">
                                                  <option value="class" selected>Class</option>
                                                  <option value="tag">Tag</option>
                                                  <option value="id">ID</option>
                                              </select>
                                          </span>
                                          <input type="text" class="form-control" id="linkBaseClassInput" placeholder="Enter Your Base Class" disabled="true"/>
                                        </div>
                                        <div class="input-group mb-3">
                                          <span class="input-group-text p-0 border-0 outline-0">
                                              <select id="question" class="form-select" disabled="true">
                                                  <option value="class" selected>Class</option>
                                                  <option value="tag">Tag</option>
                                                  <option value="id">ID</option>
                                              </select>
                                          </span>
                                          <input type="text" class="form-control" id="linkQuestionClassInput" placeholder="Enter Your Question Class" disabled="true"/>
                                        </div>
                                        <div class="input-group mb-3">
                                          <span class="input-group-text p-0 border-0 outline-0">
                                              <select id="answer" class="form-select" disabled="true">
                                                  <option value="class" selected>Class</option>
                                                  <option value="tag">Tag</option>
                                                  <option value="id">ID</option>
                                              </select>
                                          </span>
                                          <input type="text" class="form-control" id="linkAnswerClassInput" placeholder="Enter Your Answer Class" disabled="true"/>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary text-light" id="submitBtn">Submit</button>
                </div>
            </form>
        </div>
    </section>
</body>
{% include "AIC_APP/modules/moduleScript.html" %}
</html>