<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Generator From Only Answer</title>
    {% load static %}
    {% include "AIC_APP/modules/moduleHeader.html" %}
</head>
<body>
    {% include "AIC_APP/navbar.html" %}
    {% include 'AIC_APP/loading.html' %}
    <section class="content row mx-0 my-md-5 py-md-4">
        <div class="col-12 col-sm-12 col-md-5 d-flex flex-column justify-content-center align-items-center">
            <h1>Description</h1>
            <img src={%  static "AIC_APP/images/description-carousel/1.jpg" %} alt="" srcset="" class="img-fluid" style="height: 400px;width: auto;">
        </div>
        <div class="col-12 col-sm-12 col-md-7 d-flex justify-content-center flex-wrap">
            <form action="#" method="post" id="linkForm" class="w-100">
                <div class="card bg-dark text-light col-sm-12 col-12" id="linkInputContainer">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between">Submit Your Link Here </h5>
                        
                        <div class="form-control linkDisplayContainer">
                            <h5 id="linkInputLabel">Enter Your Link Here :</h5>
                            <input name="linkInput" id="linkInput" class="form-control" placeholder="Paste Your Link Here" />
                            <span class="my-3">
                                <div class="text-end">
                                  <button class="advanceOptions dropdown-toggle fw-bold text-primary mx-4 my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Advance Opitons
                                  </button>
                                </div>
                                <div class="collapse" id="collapseExample">
                                    <div class="form-check form-switch">
                                        <label class="form-check-label" for="tagsEnable">Enable Advance Options</label>
                                        <input class="form-check-input" type="checkbox" id="advanceEnable" />
                                    </div>
                                    <div class="card card-body" aria-disabled="">
                                        <div class="form-floating mb-3">
                                          <input type="text" class="form-control" id="linkBaseClassInput" placeholder="Enter Your Base Class" disabled="true"/>
                                          <label for="linkBaseClassInput">Base Class Here</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                          <input type="text" class="form-control" id="linkQuestionClassInput" placeholder="Enter Your Question Class" disabled="true"/>
                                          <label for="linkQuestionClassInput">Question Class / Tag Here</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="linkAnswerClassInput" placeholder="Enter Your Question Class" disabled="true"/>
                                            <label for="linkAnswerClassInput">Answer Class / Tag Here</label>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary text-light mb-2" id="submitBtn">Submit</button>
                </div>
            </form>
        </div>
    </section>
</body>
{% include "AIC_APP/modules/moduleScript.html" %}
</html>