{% load static %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" %}
integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" %} integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" %} integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src={% static "AIC_APP/js/jQueryUi/jquery-ui.min.js" %}></script>
<script src={% static "AIC_APP/js/navbar.js" %}></script>
<script src={% static "AIC_APP/js/modules/modules.js" %}></script>
<script src={% static "AIC_APP/js/modules/questionAnswers.js" %}></script>
<script src={% static "AIC_APP/js/modules/chatAssistant.js" %}></script>
<script src={% static "AIC_APP/js/modules/onlyAnswers.js" %}></script>
<script src={% static "AIC_APP/js/modules/paragraph.js" %}></script>
<script src={% static "AIC_APP/js/modules/link.js" %}></script>
<script src={% static "AIC_APP/js/modules/files.js" %}></script>
<script src="{% static 'AIC_APP/js/TweenMax.min.js' %}"></script>
<script src="{% static 'AIC_APP/js/loading.js' %}"></script>