{% load cache %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yo Bot</title>
    {% load static %}
    {% include 'AIC_APP/modules/moduleHeader.html' %}

</head>

<body class="bg-container">
    {% include 'AIC_APP/navbar.html' %}
    <div class="row m-0 p-0">
        <main class="col-12" style="z-index:1!important">
            <div class="d-flex justify-content-center align-items-center" style="height: 90.8vh;" id="temp">
                <div id="chatbox">
                    {% include 'AIC_APP/index2.html' %}
                </div>
            </div>
        </main>
    </div>


</body>
{% csrf_token %}
{% include 'AIC_APP/modules/moduleScript.html' %}
</html>