<!DOCTYPE html>
<html lang="en">
<head id="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Started</title>
    {% load static %}
    {% include "AIC_APP/header.html" %}
</head>
<body>
    {% include "AIC_APP/navbar.html" %}
    <section class="getStarted">
        <div class="description-carousel">
            <div class="item"><img src={% static "AIC_APP/images/description-carousel/1.jpg" %} class="img-fluid"/></div>
            <div class="item"><img src={% static "AIC_APP/images/description-carousel/2.jpg" %} class="img-fluid"/></div>
            <div class="item"><img src={% static "AIC_APP/images/description-carousel/3.jpg" %} class="img-fluid"/></div>
            <div class="item"><img src={% static "AIC_APP/images/description-carousel/4.jpg" %} class="img-fluid"/></div>
            <div class="item"><img src={% static "AIC_APP/images/description-carousel/5.jpg" %} class="img-fluid"/></div>
        </div>
    </section>
    <section class="card-holder">
        <div class="card-carousel">
            <div class="item">
                <div class="card" style="width: 18rem; height: 22rem;">
                    <img src={% static "AIC_APP/images/description-carousel/1.jpg" %} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Question-Answers</h5>
                        <p class="card-text">Example :<br/>Q : Who Are You?<br/>A : I'm Yo-Bot</p>
                        <a href="#" class="btn btn-outline-success   w-100">Click Here</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width: 18rem; height: 22rem;">
                    <img src={% static "AIC_APP/images/description-carousel/1.jpg" %} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Only Answers</h5>
                        <p class="card-text">Example :<br/>Ans : Mango is tasty<br/>Ans : I'm Yo-Bot</p>
                        <a href="#" class="btn btn-outline-success   w-100">Click Here</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width: 18rem; height: 22rem;">
                    <img src={% static "AIC_APP/images/description-carousel/1.jpg" %} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Files</h5>
                        <p class="card-text">Example : CSV, Docx, txt<br/>(Must be in Pre-Defined Format)</p>
                        <br/>
                        <a href="#" class="btn btn-outline-success   w-100">Click Here</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width: 18rem; height: 22rem;">
                    <img src={% static "AIC_APP/images/description-carousel/1.jpg" %} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paragraph</h5>
                        <p class="card-text">Example :<br/>Mango is very tasty fruit.<br/>It is very juicy and pulpy</p>
                        <a href="#" class="btn btn-outline-success   w-100">Click Here</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width: 16rem; height: 22rem;">
                    <img src={% static "AIC_APP/images/description-carousel/1.jpg" %} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">link</h5>
                        <p class="card-text">Example :<br/>https://ldce.ac.in/departments/computer-engineering</p>
                        <a href="#" class="btn btn-outline-success   w-100">Click Here</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% include "AIC_APP/script.html" %}
</html>