<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
    {% load static %}
    {% include 'AIC_APP/header.html' %}
  <title>YO-BOT</title>
</head>

<body>

{% include "AIC_APP/navbar.html" %}

<!-- main page first  -->
  <div class="section1">
    <div class="content1 row m-0">
      <div class="top-main col-lg-6 order-md-1 order-2 col-md-6 col-sm-12">
        <div class="title">Click. Chat.<br/>Complete.</div>
        <div class="description">YourBot presents a Low-Code Platform where one can create an AI assistant for smooth communication with visitors. </div>
        <button type="button" class="btn bg-color btn-outline-us text-light mt-5">Get Started</button>
      </div>
      <div class="img-chatbot col-lg-6 order-md-2 order-1 col-md-6 col-sm-12">
        <img src="https://res.cloudinary.com/sih2022/image/upload/q_auto,f_auto/v1658601690/Prativachan/ChatBot_AI_jxxogs.png" alt="chatbot">
      </div>
    </div>
  </div>



  <!-- steps  -->
  <div style="background-color: #f2f2f2; height: 100vh">
    <h2 class="text-center" style=" padding-top: 3%;">How to use?</h2>

  <div class="steps" id="steps">
    <button data-step="1" class="active">1</button>
    <div></div>

    <button data-step="2">2</button>
    <div></div>
    <button data-step="3">3</button>
  </div>

  <div class="contents" id="contents">
    <div class="content active" data-step="1">
      <div class="content__box mb-3">
        <div class="text-center">
        <div class="how-to-use-img">
          <img src="https://res.cloudinary.com/sih2022/image/upload/q_auto,f_auto/v1658643391/Prativachan/choose-module_phdi5w.png" style="width: 50%;"alt="">
        </div>
        <div class="my-4">
          Choose a module and provide input in your preferable way
        </div>
      </div>
      </div>
    </div>
    <div class="content" data-step="2">
      <div class="content__box">
        <div class="text-center">
          <div class="how-to-use-img">
            <img src="https://res.cloudinary.com/sih2022/image/upload/q_auto,f_auto/v1658642270/Prativachan/train-model_vdracy.png" style="width: 50%;"alt="">
          </div>
          <div class="my-4">
            Train the machine learning model with generated FAQs for Smart conversation with AI Assistant.
          </div>
        </div>
      </div>
    </div>
    <div class="content" data-step="3">
      <div class="content__box">
        <div class="text-center">
          <div class="how-to-use-img">
            <img src="https://res.cloudinary.com/sih2022/image/upload/q_auto,f_auto/v1658642967/Prativachan/Extract-Api_ncpklv.png" style="width: 50%;" alt="">
          </div>
          <div class="my-4">
            Extract your AI Assistant with an API to deploy chatbot in your own apps.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- features  -->

  <div class="features">
    <div class="heading">

      <h2>Key Features</h2>
    </div>
    <div class="sectionInside">
      <div class="main2 justify-content-around ">
        <div class="card" id="card1" style="width: 16rem; height: 16rem;" onmouseover="change(this)"
          onmouseout="chnageAgain(this)">
          <img src="https://res.cloudinary.com/sih2022/image/upload/q_auto,f_auto/v1658601092/Prativachan/EasytoUse_lap0qf.png" class="card-img-top imgsize2" alt="... ">
          <div class="hoverText" style="display: none;">
            <h4>Easy to use</h4>
            <p>Multiple Users Can Join The Video Call And They Can Try Jewellery.</p>
          </div>


        </div>
        <div class="card" id="card1" style="width: 16rem; height: 16rem;" onmouseover="change(this)"
          onmouseout="chnageAgain(this)">
          <img src="https://res.cloudinary.com/sih2022/image/upload/q_auto,f_auto/v1658640192/Prativachan/no-code_b8jklg.png" class="card-img-top imgsize2" alt="... ">
          <div class="hoverText" style="display: none;">
            <h4>No Coding required</h4>
            <p>Multiple Users Can Join The Video Call And They Can Try Jewellery.</p>
        </div>
        </div>
        <div class="card" id="card1" style="width: 16rem; height: 16rem;" onmouseover="change(this)"
          onmouseout="chnageAgain(this)">
          <img src="https://res.cloudinary.com/sih2022/image/upload/q_auto,f_auto/v1658640732/Prativachan/secured_blr8ad.png" class="card-img-top imgsize2" alt="... ">
          <div class="hoverText" style="display: none;">
            <h4>Secured</h4>
            <p>Multiple Users Can Join The Video Call And They Can Try Jewellery.</p>
          </div>


        </div>

      </div>
      <div class="main2 justify-content-around ">
        <div class="card" id="card1" style="width: 16rem; height: 16rem;" onmouseover="change(this)"
          onmouseout="chnageAgain(this)">
          <img src="https://res.cloudinary.com/sih2022/image/upload/q_auto,f_auto/v1658640441/Prativachan/user-friendly_rowbqn.png" class="card-img-top imgsize2" alt="... ">
          <div class="hoverText" style="display: none;">
            <h4>User friendly interface</h4>
            <p>Multiple Users Can Join The Video Call And They Can Try Jewellery.</p>
          </div>


        </div>
        <div class="card" id="card1" style="width: 16rem; height: 16rem;" onmouseover="change(this)"
          onmouseout="chnageAgain(this)">
          <img src="https://res.cloudinary.com/sih2022/image/upload/q_auto,f_auto/v1658602321/Prativachan/FewClicksAway_jgpoo9.png" class="card-img-top imgsize2" alt="... ">
          <div class="hoverText" style="display: none;">
            <h4>Chatbot is just few clicks away</h4>
            <p>Multiple Users Can Join The Video Call And They Can Try Jewellery.</p>
          </div>


        </div>
        <div class="card" id="card1" style="width: 16rem; height: 16rem;" onmouseover="change(this)"
          onmouseout="chnageAgain(this)">
          <img src="https://res.cloudinary.com/sih2022/image/upload/q_auto,f_auto/v1658640341/Prativachan/AI-ML_wzkuom.png" class="card-img-top imgsize2" alt="... ">
          <div class="hoverText" style="display: none;">
            <h4>Fastest service with AI, ML </h4>
            <p>Multiple Users Can Join The Video Call And They Can Try Jewellery.</p>
          </div>


        </div>
      </div>
    </div>
  </div>


  <!-- benefits  -->
   <div class=" container wrapper-home">
    <h2 class="mb-4 mt-3">Benefits</h2>
        <div class="carousel">
          <div>
            <div class="card" style="height: 32rem;">
              <div class="card-header card-img">
                <img src="https://res.cloudinary.com/sih2022/image/upload/q_auto,f_auto/v1658602687/Prativachan/getClose_v2cluo.png" class="card-img-top h-auto my-auto">
              </div>
              <div class="card-body">
                <div class="card-content text-center">
                  <div class="card-title">Get close
                  </div>
                  <div class="card-text mt-3">
                    <p>Your customers have questions before they buy/visit. Be where they are, when they need you; so they have the confidence they need to choose you over the competition. Every time. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card" style="height: 32rem;">
              <div class="card-header card-img">
                <img src="https://res.cloudinary.com/sih2022/image/upload/q_auto,f_auto/v1658600602/Prativachan/LevarageOfAi_e94uem.png" class="card-img-top h-auto my-auto">
              </div>
              <div class="card-body">
                <div class="card-content text-center">
                  <div class="card-title">Leverage the Power of AI
                  </div>
                  <div class="card-text mt-3">
                    <p>Our AI reasoner can understand customer questions and intents, also effectively provide the right response 90% of the time using natural language.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card" style="height: 32rem;">
              <div class="card-header card-img">
                <img src="https://res.cloudinary.com/sih2022/image/upload/q_auto,f_auto/v1658640192/Prativachan/no-code_b8jklg.png" class="card-img-top h-auto my-auto">
              </div>
              <div class="card-body">
                <div class="card-content text-center">
                  <div class="card-title">No coding required
                  </div>
                  <div class="card-text mt-3">
                    <p>YourBot helps businesses deliver delightful experiences across channels. Our conversational AI platform uses advanced NLP and ML to automatically resolve customer issues with natural language without writing a single line of code.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card" style="height: 32rem;">
              <div class="card-header card-img">
                <img src="https://res.cloudinary.com/sih2022/image/upload/q_auto,f_auto/v1658601224/Prativachan/Effiency_wezgva.png" class="card-img-top h-auto my-auto">
              </div>
              <div class="card-body">
                <div class="card-content text-center">
                  <div class="card-title">Operational Efficiency
                  </div>
                  <div class="card-text mt-3">
                    <p>Launch your chatbot in minutes and automate complex customer interactions, achieving more than ever while reducing development and operational costs. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card" style="height: 32rem;">
              <div class="card-header card-img">
                <img src="https://res.cloudinary.com/sih2022/image/upload/q_auto,f_auto/v1658641077/Prativachan/generate-more-sale_j1iox4.png" class="card-img-top h-auto my-auto">
              </div>
              <div class="card-body">
                <div class="card-content text-center">
                  <div class="card-title">Generate more sales
                  </div>
                  <div class="card-text mt-3">
                    <p>YourBot has 5 different modules where one can build FAQ AI assistant depending on the type of data you have, which can be in the form of CSV, Link, Paragraph, Readymade FAQ's, or only answers for FAQs.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          </div>
        
  </div> 
</body>
<!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  {% include 'AIC_APP/script.html' %}
</html>