{% load cache %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yo Bot</title>
    {% load static %}
    {% include 'AIC_APP/header.html' %}

</head>

<body>
    {% include 'AIC_APP/navbar.html' %}

    <div class="row m-0 p-0">
        <section class="col-12 col-sm-12 col-md-8 overflow-hidden" style="opacity: 1">
            {% include 'AIC_APP/background.html' %}
        </section>
        <main class="col-12" style="z-index:1!important">
            <div class="d-flex justify-content-center justify-content-md-end align-items-center" style="height: 90.8vh;" id="temp">
                <div id="chatbox">
                    {% include 'AIC_APP/index2.html' %}
                </div>
            </div>
        </main>
    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'AIC_APP/js/gsap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
<script src="{% static 'AIC_APP/js/bganimation.js' %}"></script>

{% csrf_token %}
<script>
    let sound = "{% static 'AIC_APP/js/notification.mp3' %}";
</script>
<script src="{% static 'AIC_APP/js/index.js' %}"></script>
</html>