<section class="position-absolute w-100 h-100 top-0 loadingBox" style="z-index: 1111!important;display: none;">
    <div class="h-100 w-100 d-flex align-items-center overflow-hidden">
        <svg viewBox="0 0 800 500" xmlns="http://www.w3.org/2000/svg" class="w-100" style="transform:scale(1.2) translateY(-15%);">
            <defs>

            <line class="mark" x1="0" y1="0" x2="0" y2="0" fill="none" stroke="#5BB4D8" stroke-miterlimit="10" stroke-linecap="none" stroke-width="12"/>

            </defs>
        <g class="container1"/>
        <g class="container2"/>
        <text x="325" y="450" letter-spacing="4" class="processing">Procesging</text>
        </svg>
    </div>
    <div class="overlay"></div>
</section>