<nav class="navbar navbar-expand-xl navbar-dark bg-dark py-3">
    {% if request.session.Name %}
    <div class="container-fluid col-10">
    {% else %}
    <div class="container-fluid col-12">
    {% endif %}
    
    <div class="modal fade modal-fullscreen-sm-down" id="profileModal">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-dark text-light">
          <form class="profile text-dark" id="profileForm">
            <div class="modal-header">
              <h5 class="modal-title text-light" id="staticBackdropLabel">Welcome {{request.session.Name}} ! <span id="profileMessage" class="mx-2"></span></h5>
              <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating">
                  <input type="text" class="form-control" id="name" placeholder="Enter Your Name">
                  <label for="name">Name</label>
                </div>
                <div class="d-flex flex-wrap">
                  <div class="form-floating col-12 col-md-6 mb-1">
                    <input type="email" class="form-control" id="email" placeholder="Enter Your Email Address">
                    <label for="email">Email address</label>
                  </div>
                  <div class="form-floating col-12 col-md-5 ms-auto mb-1">
                    <input type="mobile" class="form-control" id="mobile" placeholder="Enter Your Mobile">
                    <label for="mobile">Mobile</label>
                  </div>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="organization" placeholder="Enter Your Organization's Name">
                  <label for="organization">Organization</label>
                </div>
                <div class="text-end">
                  <a href="#" class="text-decoration-none fw-bold w-100 "><i class="fa-solid fa-key"></i>Manage API</a>
                </div>
                <h3 class="text-light">Chatbot Setting</h3>
                <div class="form-floating">
                  <input type="text" class="form-control" id="custom_greeting" placeholder="Enter Your Custom Greeting">
                  <label for="name">Greeting message for your chatbot</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="custom_failure_message" placeholder="Enter custom failure message">
                  <label for="name">Custom failure message</label>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <a class="navbar-brand logo" href="/">YourBot</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mx-4"></div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-2">
            <a class="nav-link active fw-bold" aria-current="page" href="/"><i class="fa-solid fa-house-chimney"></i>Home</a>
          </li>
          <li class="nav-item mx-2">
              <a class="nav-link" href="#"><i class="fa-solid fa-key"></i>API</a>
            </li>
          <li class="nav-item mx-2 generateFAQs">
            <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="fa-solid fa-gears"></i>Generate FAQs</a>
            <div class="generateFAQOptions dropdown-menu">
              <div class="list-group">
                <a href="/questionAnswers" class="dropdown-item">
                  Using Question-Answers
                </a>
                <a href="/onlyAnswers" class="dropdown-item">
                  Using Only Answers
                </a>
                <a href="/filesInput" class="dropdown-item">
                  Using File
                </a>
                <a href="/paragraph" class="dropdown-item">
                  Using Paragraph
                </a>
                <a href="/linkInput" class="dropdown-item">
                  Using Site Link
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/chatAssistant"><i class="fa-regular fa-comments"></i>Chat Assistant</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/QueShow"><i class="fa-solid fa-hammer"></i>View Questions</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/howToUse"><i class="fa-solid fa-circle-question"></i>How To Use?</a>
          </li>
        </ul>
        {% if request.session.Name %}
        <div class="btn-group dropdown">
            <button type="button" class="btn p-0 dropdown-toggle text-light d-flex justify-content-center align-items-center" id="dropdownMenuButton" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle text-light fs-2 position-relative" aria-hidden="true" data-bs-toggle="tooltip" title="Profile"></i>
            </button>
          <ul class="dropdown-menu dropdown-menu-dark dropleft">
            <li class="d-flex justify-content-around" data-bs-toggle="modal" data-bs-target="#profileModal"><a class="dropdown-item profile-item w-100" href="#" id="userProfile"><i class="fa fa-user col-4 text-start"></i> <p class="col-8 m-0">{{ request.session.Name }}</p></a></li>
            <li class="d-flex justify-content-around"><a class="dropdown-item profile-item logout" href="/signout"><i class="bi bi-box-arrow-in-left col-4 text-start"></i> <p class="col-8 m-0">Logout</p></a></li>

          </ul>
        </div>
        {% else %}
        <div class="d-flex justify-content-start justify-content-xl-between gap-4 ms-auto">
            <a href="/signin" class="btn btn-outline-light px-4 py-2 text-light d-flex justify-content-center align-items-center" id="loginbtn">
                <i class="fa-solid fa-arrow-right-to-bracket me-2"></i> Log in
            </a>
            <!-- <a href="/signin?signup=true" class="btn btn-outline-light px-2 py-2 text-light d-flex justify-content-center align-items-center" id="signupbtn">
                <i class="fa-solid fa-user-plus me-2"></i> Sign Up
            </a> -->
        </div>
        {% endif %}
    </div>
    </div>
  </div>
</nav>