<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>questionGenerationdisplay</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <style>
        @font-face {
            font-family: "Android";
            src: url("{% static 'AIC_APP/css/Android.ttf' %}");
        }
    </style>
    <link rel="stylesheet" href="{% static 'AIC_APP/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'AIC_APP/css/background.css' %}">
    <link rel="stylesheet" href="{% static 'AIC_APP/css/loading.css' %}">
</head>

<body style="background-image: linear-gradient(225deg, #B5FFFC 0%, #B5FFFC 100%);">
    <section class="position-absolute w-100 h-100 text-center top-0 loadingBox" style="z-index: 1111!important;display: none;">
        <div class="background"></div>
        <div class="h-100 w-100 d-flex align-items-center overflow-hidden">
            <svg viewBox="0 0 800 500" xmlns="http://www.w3.org/2000/svg" class="w-100" style="transform:scale(1.2) translateY(-15%);">
                <defs>
                
                <line class="mark" x1="0" y1="0" x2="0" y2="0" fill="none" stroke="#5BB4D8" stroke-miterlimit="10" stroke-linecap="none" stroke-width="12"/>
                
                </defs>
            <g class="container1"/>
            <g class="container2"/>
            <text x="325" y="450" letter-spacing="4" class="processing">Processing</text>
            </svg>
        </div>
    </section>
    <div class="d-flex justify-content-around flex-wrap w-75 mx-auto my-2">
        <a href="#" id="trainModel" class="text-decoration-none ms-auto"><button class="button-29" role="button">Train Your Model</button></a>
    </div>
    <div id="questionGenerationdisplay" class="d-flex justify-content-center flex-column align-items-center"></div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'AIC_APP/js/gsap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
<script src="{% static 'AIC_APP/js/bganimation.js' %}"></script>
<script src="{% static 'AIC_APP/js/index.js' %}"></script>
<script src="{% static 'AIC_APP/js/question.js' %}"></script>
<script src="{% static 'AIC_APP/js/TweenMax.min.js' %}"></script>
<script src="{% static 'AIC_APP/js/loading.js' %}"></script>
<script>
    $(document).ready(function() {
        var temp = "{% static 'AIC_APP/intents.json' %}";
        let temp1 = "";
        let iterate = 0;
        $.getJSON(temp, function(jd) {
            for (let i in jd) {
                for (let j = 0; j < jd[i].length; j++) {
                    temp1 += `<div class="card my-3 w-75 ṃx-auto border-0">
                                    <div class="card-header bg-que">
                                            <h4 class="text-light card-title">Questions</h4>`;
                    // for (let n = 0; n < jd[i][j]['patterns'].length; j++) {
                    for (n in jd[i][j]['patterns']) {
                        temp1 += `<p class=" card-title text-light">${jd[i][j]['patterns'][n]}</p>`;
                    }
                    temp1 += '</div>';
                    temp1 += `<div class="card-footer">
                                    <h4 class="bg-light text-dark card-title d-flex justify-content-between align-items-center">Answer <span class="ms-auto" name='${iterate}' id='deleteQuestionSet' style="cursor: pointer;"><button class='btn btn-dark'>Delete</button></span></h4>
                                <p class="bg-light text-dark card-title">${jd[i][j]['responses']}</p></div></div>`;
                    iterate++;
                }
            }
            $('#questionGenerationdisplay').html(temp1);
        });
        $(document).on("click", "#deleteQuestionSet", function() {
            $(this).parent().parent().parent().hide("fold", 700);
            let deleteIndex = $(this).attr("name");
            var temp = "{% static 'AIC_APP/intents.json' %}";
            setTimeout(function() {
                $.getJSON(temp, function(jd) {
                    jd["intents"].splice(deleteIndex, 1);
                    console.log(jd);
                    console.log(jd);
                    let temp1 = "";
                    let iterate = 0;
                    for (let i in jd) {
                        for (let j = 0; j < jd[i].length; j++) {
                            temp1 += `<div class="card my-3 w-75 ṃx-auto border-0">
                                            <div class="card-header bg-que">
                                                    <h4 class="text-light card-title">Questions</h4>`;
                            // for (let n = 0; n < jd[i][j]['patterns'].length; j++) {
                            for (n in jd[i][j]['patterns']) {
                                temp1 += `<p class=" card-title text-light">${jd[i][j]['patterns'][n]}</p>`;
                            }
                            temp1 += '</div>';
                            temp1 += `<div class="card-footer">
                                            <h4 class="bg-light text-dark card-title d-flex text-between align-items-center">Answer <span class="ms-auto" name='${iterate}' id='deleteQuestionSet' style="cursor: pointer;"><button class='btn btn-dark'>Delete</button></span></p></h4>
                                        <p class="bg-light text-dark card-title">${jd[i][j]['responses']}
                                        </div></div>`;
                            iterate++;
                        }
                    }
                    $.ajax({
                        url: "/updateJson",
                        method: "POST",
                        data: {
                            updateData: JSON.stringify(jd)
                        },
                        success: function(data) {
                            $('#questionGenerationdisplay').html(temp1);
                        },
                        error: function(data) {
                            alert("Error");
                        }
                    })

                });
            }, 1000);
        })

        });
    </script>

</html>