<!DOCTYPE html>
<html lang="en">

<head id="header">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Questions</title>
  {% load static %}
  {% include "AIC_APP/header.html" %}
</head>

<body>
  {% include "AIC_APP/navbar.html" %}
  <div class="modal fade" id="confirmationBox" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p class="text-danger">Are You Want Sure To Reset All Question-Answers? You Cannot Undo Your Actions</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" id="resetbutton" class="btn btn-danger">Confirm Reset</button>
        </div>
      </div>
    </div>
  </div>
  <h2 class="accordion__heading mt-3 text-center">Frequently Asked Questions</h2>
  <div class="dropdown btn mb-2 float-right" style="margin-right:3%;">
    <button id="closeall" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Download
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" id="csvfile" href="#" download="FAQ.csv">CSV</a>
      <a class="dropdown-item" id="textfile" href="#" download="FAQ.txt">Text</a>
    </div>
  </div>
  <!-- <h6 class="float-right mt-2 mb-2"><a href="">Train Model</a></h6> -->
  <button id="trainmodelbutton" type="button" class="btn ml-3 mt-2" style="margin-left:4%">Train Model</button>
  <button type="button" class="btn ml-3 mt-2" style="margin-left:1%" data-bs-toggle="modal" data-bs-target="#confirmationBox">Reset</button>

  <div class="searchbar">
    <input type="text" placeholder="Search question" id="searchBox" autocomplete="off" name="search" />
    <button id="search" onClick="searchRecipes">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-search"
        viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
        </path>
      </svg>
    </button>
  </div>
  <div class="accordion m-auto" id="questionGenerationdisplay">

  </div>
  <div id="temp2d" style="display: none;">

  </div>
</body>


{% include "AIC_APP/script.html" %}

</html>