{% load cache %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yo Bot</title>
    {% load static %}
    {% include 'AIC_APP/header.html' %}
</head>

<body class="position-relative">
    {% if user.is_authenticated %}
    {% include 'AIC_APP/navbar.html'%}
    {% include 'AIC_APP/background.html'%}
    <div class="row m-0 p-0">
        {% include 'AIC_APP/loading.html' %}
        <div class="modal fade" id="linkmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="linkModalLabel">Provide Link For Question Generation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body">
                        <form id="linkForm">
                            <div class="form-group">
                                <label for="link-name" class="col-form-label">Link :</label>
                                <input type="text" class="form-control" id="siteLink">
                            </div>
                            <button type="submit" class="btn btn-primary d-block ms-auto">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="csvmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="csvModalLabel">Provide Link For Question Generation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body">
                        <form action="/csvSubmit" id="csvForm" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="file-name" class="col-form-label">Upload Your CSV File Here :</label>
                                <input type="file" name="csvfile" class="form-control" id="csvFile">
                            </div>
                            <button type="submit" class="btn btn-primary d-block ms-auto">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <main class="col-12 text-end" style="z-index:1!important">
            <div class="d-flex justify-content-center justify-content-md-end align-items-center" style="height: 88.6vh;" id="temp">
                <div id="chatbox" class="questionGeneration">
                    <div class="d-flex justify-content-end flex-wrap col-11 gap-4 ms-4">
                        <button type="button" class="btn btn-dark btn-md my-2 px-4" data-toggle="modal" data-target="#csvmodal" data-whatever="@mdo">CSV</button>
                        <button type="button" class="btn btn-dark btn-md my-2 px-4" data-toggle="modal" data-target="#linkmodal" data-whatever="@mdo">Link</button>
                    </div>
                    <div class="card position-relative wrapper" style="background: transparent; border:0px;">
                        <div class="card-header my-auto p-2 title">
                            <h5 class="card-title text-center text-light py-2 my-auto">Question-Answer Generator</h5>
                            <ul class="nav nav-tabs card-header-tabs tab-style nav-justified mt-2 tex" id="tabs">
                                <li class="nav-item d-flex justify-content-center align-items-center">
                                    <a class="active nav-link py-2 active h-100 d-flex align-items-center justify-content-center p-0 text-secondary" href="#questionAnswers" data-bs-toggle="tab">Question-Answer</a>
                                </li>
                                <li class="nav-item d-flex justify-content-center align-items-center">
                                    <a class="nav-link py-2 h-100 d-flex align-items-center justify-content-center p-0 text-secondary" href="#onlyAnswers" data-bs-toggle="tab">Only Answers</a>
                                </li>
                                <li class="nav-item d-flex justify-content-center align-items-center">
                                    <a class="nav-link py-2 h-100 d-flex align-items-center justify-content-center p-0 text-secondary" href="#paragraph" data-bs-toggle="tab">Paragraph</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body p-0">
                            <div class="tab-content">
                                <div class="tab-pane active" id="questionAnswers">
                                    <div class="card-body p-0 m-0">
                                        <form method="post" id="questionAnswersForm"> {% csrf_token %}
                                            <textarea class="form-control m-0 question" placeholder="Enter Question-Answer Here" id="questions" rows="12" name="inputText"></textarea>
                                            <div class="text-center p-0">
                                                <button type="submit" name="questionSubmit" value="submit" class="btn btn-submit w-100 text-light py-2 mx-auto">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane" id="onlyAnswers">
                                    <div class="card-body p-0 m-0">
                                        <form method="post" id="onlyAnswersForm"> {% csrf_token %}
                                            <textarea class="form-control m-0 question" placeholder="Enter Answer Here" id="questions" rows="12" name="inputText"></textarea>
                                            <div class="text-center p-0">
                                                <button type="submit" name="questionSubmit" value="submit" class="btn btn-submit w-100 text-light py-2 mx-auto" style="background-color: #0093E9 !important;background-image: linear-gradient(209deg, #80D0C7 0%, #0093E9 100%) !important;">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane" id="paragraph">
                                    <div class="card-body p-0 m-0">
                                        <form method="post" id="paragraphForm"> {% csrf_token %}
                                            <textarea class="form-control m-0 question" placeholder="Enter Your Paragraph Here" id="questions" rows="12" name="inputText"></textarea>
                                            <div class="text-center p-0">
                                                <button type="submit" name="questionSubmit" value="submit" class="btn btn-submit w-100 text-light py-2 mx-auto">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>


{% else %}
    <button type="submit"><a href="/signup">SignUp</a></button>
    <br/>
    <br/>
    <button type="submit"><a href="/signin">SignIn</a></button>
    {% endif %}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'AIC_APP/js/gsap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
<script src="{% static 'AIC_APP/js/bganimation.js' %}"></script>
<script src="{% static 'AIC_APP/js/index.js' %}"></script>
<script src="{% static 'AIC_APP/js/question.js' %}"></script>
<script src="{% static 'AIC_APP/js/TweenMax.min.js' %}"></script>
<script src="{% static 'AIC_APP/js/loading.js' %}"></script>
<script>
    let sound = null;
</script>

</html>