<!DOCTYPE html>
<html lang="en">

<head id="header">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Questions</title>
  {% load static %}
  {% include "AIC_APP/header.html" %}
</head>

<body>
  {% include "AIC_APP/navbar.html" %}
  <h2 class="accordion__heading mt-3 text-center">Frequently Asked Questions</h2>
  <button id="openall" type="button" class="btn mt-2 mb-2" style=" display:none; margin-left: 24px;">Open</button>
  <div class="dropdown btn mt-2 mb-2 float-right" style="margin-right:3%;">
    <button id="closeall" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Download
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">CSV</a>
      <a class="dropdown-item" href="#">Text</a>
    </div>
  </div>
  <div class="searchbar">
    <input type="text" placeholder="Search question" id="searchBox" autocomplete="off" name="search" />
    <button id="search" onClick="searchRecipes">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-search"
        viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
        </path>
      </svg>
    </button>
  </div>
  <div class="accordion m-auto" id="questionGenerationdisplay">

  </div>
</body>


{% include "AIC_APP/script.html" %}

</html>