{% load cache %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<style>


::selection{
  color: #fff;
  background: #5372F0;
}
.modal-body{
  width: 496px;
  background: #fff;
  border-radius: 10px;
  padding: 18px 25px 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.06);
}
.modal-body :where(.title, li, li i, .details){
  display: flex;
  align-items: center;
}
.title img{
  max-width: 21px;
}
.title h2{
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
}
.modal-body .content{
  margin: 10px 0;
}
.content p{
  font-size: 15px;
}
.content ul{
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}
.content ul  li{
  color: #333;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
}
.content ul li i{
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}
.content ul input{
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}
.modal-body .details{
  justify-content: space-between;
}
.details button{
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #5372F0;
  transition: background 0.3s ease;
}
.details button:hover{
  background: #2c52ed;
}
</style>
    <title>questionGenerationdisplay</title>
            {% load static %}
    {% include 'AIC_APP/header.html' %}
</head>

<body style="background-image: linear-gradient(225deg, #B5FFFC 0%, #B5FFFC 100%);">
    {% include 'AIC_APP/loading.html' %}
    <div class="d-flex justify-content-between mx-auto col-9 mt-4">
        <span id="backButton" class="text-decoration-none"><a href="/QueGenerator" class="button-29 text-light rounded-circle" style="height:50px; width:50px;" role="button"><i class="bi bi-arrow-left fs-1"></i></a></span>
        <span id="trainModel" class="text-decoration-none"><button class="button-29" role="button">Train Your Model</button></span>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Tags
</button>
    </div>
    <div id="questionGenerationdisplay" class="d-flex justify-content-center flex-column align-items-center"></div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tags</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


      <div class="content">
        <p>Press enter after each tag</p>
        <ul><input type="text" spellcheck="false"></ul>
      </div>

          <div class="details">
              <p><span></span></p>
              <button>Remove All</button>
      </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="savechange()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

</body>
    <script>
    mainlist=[]
        const ul = document.querySelector("ul");
input = document.querySelector("input");
console.log(input);
tagNumb = document.querySelector(".details span");

<!--let maxTags = 10,-->
tags = [];

countTags();
createTag();

function countTags(){
    input.focus();
    var taglen= tags.length;
}

function createTag(){
    ul.querySelectorAll("li").forEach(li => li.remove());
    tags.slice().reverse().forEach(tag =>{
        let liTag = `<li>${tag} <i class="uit uit-multiply" onclick="remove(this, '${tag}')"></i></li>`;
        ul.insertAdjacentHTML("afterbegin", liTag);
    });
    countTags();
}

function remove(element, tag){
    let index  = tags.indexOf(tag);
    tags = [...tags.slice(0, index), ...tags.slice(index + 1)];
    element.parentElement.remove();
    countTags();
}

function addTag(e){
    if(e.key == "Enter"){
        let tag = e.target.value.replace(/\s+/g, ' ');
        if(tag.length > 1 && !tags.includes(tag)){
                tag.split(',').forEach(tag => {
                    tags.push(tag);
                    createTag();
                });

        }
        e.target.value = "";
    }
}

input.addEventListener("keyup", addTag);

const removeBtn = document.querySelector(".details button");
removeBtn.addEventListener("click", () =>{
    tags.length = 0;
    ul.querySelectorAll("li").forEach(li => li.remove());
    countTags();
});

function savechange(){
mainlist=tags
console.log(mainlist)
}
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'AIC_APP/js/gsap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
<script src="{% static 'AIC_APP/js/bganimation.js' %}"></script>
<script src="{% static 'AIC_APP/js/index.js' %}"></script>
<script src="{% static 'AIC_APP/js/question.js' %}"></script>
<script src="{% static 'AIC_APP/js/TweenMax.min.js' %}"></script>
<script src="{% static 'AIC_APP/js/loading.js' %}"></script>
<script>
    $(document).ready(function() {
        var temp = "{% static 'AIC_APP/intents.json' %}";
        let temp1 = "";
        let iterate = 0;
        $.getJSON(temp, function(jd) {
            for (let i in jd) {
                for (let j = 0; j < jd[i].length; j++) {
                    temp1 += `<div class="card my-3 w-75 ṃx-auto border-0">
                                    <div class="card-header bg-que">
                                            <h4 class="text-light card-title">Questions</h4>`;
                    // for (let n = 0; n < jd[i][j]['patterns'].length; j++) {
                    for (n in jd[i][j]['patterns']) {
                        temp1 += `<p class=" card-title text-light">${jd[i][j]['patterns'][n]}</p>`;
                    }
                    temp1 += '</div>';
                    temp1 += `<div class="card-footer">
                                    <h4 class="bg-light text-dark card-title d-flex justify-content-between align-items-center">Answer <span class="ms-auto" name='${iterate}' id='deleteQuestionSet' style="cursor: pointer;"><button class='btn btn-dark'>Delete</button></span></h4>
                                <p class="bg-light text-dark card-title">${jd[i][j]['responses']}</p></div></div>`;
                    iterate++;
                }
            }
            $('#questionGenerationdisplay').html(temp1);
        });
        $(document).on("click", "#deleteQuestionSet", function() {
            $(this).parent().parent().parent().hide("fold", 700);
            let deleteIndex = $(this).attr("name");
            var temp = "{% static 'AIC_APP/intents.json' %}";
            setTimeout(function() {
                $.getJSON(temp, function(jd) {
                    jd["intents"].splice(deleteIndex, 1);
                    let temp1 = "";
                    let iterate = 0;
                    for (let i in jd) {
                        for (let j = 0; j < jd[i].length; j++) {
                            temp1 += `<div class="card my-3 w-75 ṃx-auto border-0">
                                            <div class="card-header bg-que">
                                                    <h4 class="text-light card-title">Questions</h4>`;
                            // for (let n = 0; n < jd[i][j]['patterns'].length; j++) {
                            for (n in jd[i][j]['patterns']) {
                                temp1 += `<p class=" card-title text-light">${jd[i][j]['patterns'][n]}</p>`;
                            }
                            temp1 += '</div>';
                            temp1 += `<div class="card-footer">
                                            <h4 class="bg-light text-dark card-title d-flex text-between align-items-center">Answer <span class="ms-auto" name='${iterate}' id='deleteQuestionSet' style="cursor: pointer;"><button class='btn btn-dark'>Delete</button></span></p></h4>
                                        <p class="bg-light text-dark card-title">${jd[i][j]['responses']}
                                        </div></div>`;
                            iterate++;
                        }
                    }
                    $.ajax({
                        url: "/updateJson",
                        method: "POST",
                        data: {
                            updateData: JSON.stringify(jd)
                        },
                        success: function(data) {
                            $('#questionGenerationdisplay').html(temp1);
                        },
                        error: function(data) {
                            alert("Error");
                        }
                    })

                });
            }, 1000);
        })

        });
    </script>


</html>