.st0 {
    fill: #A6A6A6;
}

.st1 {
    fill: #CFCFCF;
}

.st2 {
    fill: #FFFFFF;
}

.st3 {
    fill: url(#SVGID_1_);
}

.st4 {
    fill: #006FBC;
}

.st5 {
    fill: url(#SVGID_2_);
}

.st6 {
    fill: url(#SVGID_3_);
}

.st7 {
    fill: #0097CE;
}

.st8 {
    fill: url(#SVGID_4_);
}

.st9 {
    fill: url(#SVGID_5_);
}

.st10 {
    fill: rgba(28, 28, 96, 0.6);
}

.st11 {
    fill: url(#SVGID_6_);
}

.st12 {
    fill: url(#SVGID_7_);
}

.st13 {
    fill: #92377E;
}

.st14 {
    fill: url(#SVGID_8_);
}

.st15 {
    fill: url(#SVGID_9_);
}

.st16 {
    fill: #FFB500;
}

.st17 {
    fill: url(#SVGID_10_);
}

.st18 {
    fill: url(#SVGID_11_);
}

.st19 {
    fill: #919191;
}

.st20 {
    fill: url(#SVGID_12_);
}

.st21 {
    fill: url(#SVGID_13_);
}

.st22 {
    fill: rgba(66, 28, 28, 0.52);
}

.st23 {
    fill: url(#SVGID_14_);
}

.st24 {
    fill: #ADADAD;
}

.st25 {
    fill: url(#SVGID_15_);
}

.st26 {
    fill: url(#SVGID_16_);
}

.st27 {
    fill: url(#SVGID_17_);
}

.st28 {
    fill: url(#SVGID_18_);
}

.st29 {
    fill: url(#SVGID_19_);
}

.st30 {
    fill: url(#SVGID_20_);
}

.st31 {
    fill: url(#SVGID_21_);
}

.st32 {
    fill: url(#SVGID_22_);
}

.st33 {
    fill: url(#SVGID_23_);
}

.st34 {
    fill: url(#SVGID_24_);
}

.st35 {
    fill: url(#SVGID_25_);
}

.st36 {
    fill: url(#SVGID_26_);
}

.st37 {
    fill: url(#SVGID_27_);
}

.st38 {
    fill: url(#SVGID_28_);
}

.rect {
    fill: transparent;
}