@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#chatbox {
    margin-right: 1%;
}

.box .bg {
    position: sticky;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(106deg, rgb(33, 44, 58) 44.12%,rgba(90, 92, 106, 1));
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -11111!important;
    padding: 0;
    min-width: 400px;
    min-height: 400px;
}

.wrapper {
    width: 40vw;
    overflow: hidden;
}

.wrapper .title {
    background-image: repeating-conic-gradient(rgba(90, 92, 106, 1), rgb(33, 44, 58) 79.41%, rgba(32, 45, 58, 1) 81.3%);
    color: white;
    line-height: 2.5;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 20px;
    font-family: Android;
}

.wrapper .box {
    height: 400px;
    overflow-y: auto;
    position: relative;
}

.chatbot-img-container{
    z-index: -11111!important;
    transform: translate(-50%);
}

.box::-webkit-scrollbar {
    display: none;
}

.wrapper .box .item {
    display: flex;
    float: left;
    margin: 10px 0;
    overflow-wrap: anywhere;
}

.wrapper .box .left .icon {
    background: #16222A;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.wrapper .box .right .icon {
    background: #424850;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.wrapper .box .item .icon i {
    width: 40px;
    height: 40px;
}

.wrapper .box .item .icon svg {
    width: 27px;
    height: 27px;
}

.wrapper .box .item .msg {
    /*background: #92377E;*/
    color: white;
    border-radius: 10px;
    /* width: 150px; */
    margin-left: 10px;
    background: #16222A;
}

.wrapper .box .item .msg p {
    padding: 10px;
}

.wrapper .box .item.right {
    float: right;
    clear: both;
    flex-direction: row-reverse;
}

.wrapper .box .item.left {
    float: left;
    clear: both;
}

.wrapper .box .item.right .msg {
    color: #fff;
    background: #424850;


}

.wrapper .typing-area {
    width: 100%;
    background: #efefef;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 0.5px solid rgb(0 0 0 / 25%);
}

.wrapper .typing-area .input-field {
    width: 100%;
    position: relative;
}

.wrapper .typing-area .input-field input {
    width: 100%;
    padding: 10px;
    border: 0px solid transparent;
    color: lavender;
    border-radius: 3px;
    outline: none;
    padding-right: 70px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s all ease;
    /*background-color: #efefef !important;*/
}

.wrapper .typing-area .input-field input:focus {
    outline: none;
}

.wrapper .typing-area .input-field .submitBtn {
    position: absolute;
    top: 50%;
    right: 90%;
    transform: translateY(-50%);
    background: transparent;
    border: 0px solid #006FBC;
    padding: 5px 10px;
    border-radius: 3px;
    color: #006FBC;
    outline: none;
    cursor: pointer;
    transition: 0.7s all ease;
    opacity: 0;
    z-index: -1;
    pointer-events: auto;
    transform-origin: -32px 0px;
}

.submitBtnOut {
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    background: transparent;
    border: 0px solid #006FBC;
    padding: 5px 10px;
    border-radius: 3px;
    color: #006FBC;
    outline: none;
    cursor: pointer;
    transition: 0.7s all ease;
    opacity: 0;
    z-index: -1;
    pointer-events: auto;
    transform-origin: -32px 0px;
}


.msg p {
    margin-bottom: 2px !important;
}

.sug p {
    margin-left: 5px;
    margin-bottom: 5px;
}

.wrapper .typing-area .input-field input:valid~.submitBtn {
    opacity: 1;
    z-index: 1;
    right: -2%;
}

.wrapper .typing-area .input-field .submitBtn:hover {
    transition: 0.5s all ease;
}

.rotate {
    position: absolute;
    top: 50%;
    right: 90%;
    transform: translateY(-50%);
    background: transparent;
    border: 0px solid #006FBC;
    padding: 5px 10px;
    border-radius: 3px;
    color: #006FBC;
    outline: none;
    cursor: pointer;
    transition: 0.7s all ease;
    opacity: 0;
    z-index: -1;
    pointer-events: auto;
    transform-origin: -32px 0px;
}

.languages{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
}

.temp{
    opacity:0.2;
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        width: 60vw;
    }
}

@media only screen and (max-width: 784px) {
    .wrapper {
        width: 80vw;
    }
}