@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#chatbox {
    margin-right: 1%;
}

body {
    font-family: 'Poppins', sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-color: #FFDEE9;
    background-image: linear-gradient(225deg, #B5FFFC 0%, #FFDEE9 100%);
}


/*#QuestionGeneration{
margin-left:70%;
margin-bottom:3%;

background-color: #0097ce;
    border-color: #0097ce;

}*/

.button-29 a {
    color: white;
    text-decoration: none;
}


/*#QuestionGeneration a:hover{
text-decoration:underline;

}*/

.button-29 {
    margin-right: 0%;
    margin-bottom: 3%;
    align-items: center;
    appearance: none;
    background-color: #0093E9;
    background-image: linear-gradient(209deg, #80D0C7 0%, #0093E9 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .07s, transform .07s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-29:focus {
    /*box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;*/
}

.button-29:hover {
    /*box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #80aff4  0 -3px 0 inset;*/
    /*transform: translateY(-2px); */
}

.button-29:active {
    /*box-shadow: #3c4fe0 0 3px 7px inset;*/
    box-shadow: none;
    /*transform: translateY(2px);*/
}

.box .bg {
    background-color: transparent;
    /*background-image: linear-gradient(225deg, #B5FFFC 0%, #FFDEE9 100%);*/
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
    padding: 0;
    min-width: 400px;
    min-height: 400px;
}

.wrapper {
    width: 48vw;
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        width: 60vw;
    }
}

@media only screen and (max-width: 700px) {
    .wrapper {
        width: 80vw;
    }
}

.wrapper .title {
    background-color: #0093E9;
    background-image: linear-gradient(209deg, #80D0C7 0%, #0093E9 100%);
    color: white;
    line-height: 2.5;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 20px;
    font-family: Android;
}

.wrapper .box {
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

.box::-webkit-scrollbar {
    display: none;
}

.wrapper .box .item {
    display: flex;
    float: left;
    margin: 10px 0;
}

.wrapper .box .left .icon {
    background: #9c7ad9;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.wrapper .box .right .icon {
    background: #0097CE;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.wrapper .box .item .icon i {
    width: 40px;
    height: 40px;
}

.wrapper .box .item .icon svg {
    width: 27px;
    height: 27px;
}

.wrapper .box .item .msg {
    /*background: #92377E;*/
    color: white;
    border-radius: 10px;
    /* width: 150px; */
    margin-left: 10px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgb(186 147 233) 0%, rgba(116, 182, 247, 1) 90%);
}

.wrapper .box .item .msg p {
    padding: 10px;
}

.wrapper .box .item.right {
    float: right;
    clear: both;
}

.wrapper .box .item.left {
    float: left;
    clear: both;
}

.wrapper .box .item.right .msg {
    /*background: #0097CE;*/
    color: #fff;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.wrapper .typing-area {
    width: 100%;
    background: #efefef;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 0.5px solid rgb(0 0 0 / 25%);
    background-color: #FFDEE9;
    background-image: linear-gradient(225deg, #B5FFFC 0%, #e8fcfc 100%);
}

.wrapper .typing-area .input-field {
    width: 100%;
    position: relative;
}

.wrapper .typing-area .input-field input {
    width: 100%;
    padding: 10px;
    border: 0px solid transparent;
    border-radius: 3px;
    outline: none;
    padding-right: 70px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s all ease;
    /*background-color: #efefef !important;*/
    background-color: #FFDEE9;
    background-image: linear-gradient(225deg, #B5FFFC 0%, #e8fcfc 100%);
}

.wrapper .typing-area .input-field input:focus {
    outline: none;
}

.wrapper .typing-area .input-field .submitBtn {
    position: absolute;
    top: 50%;
    right: 90%;
    transform: translateY(-50%);
    background: transparent;
    border: 0px solid #006FBC;
    padding: 5px 10px;
    border-radius: 3px;
    color: #006FBC;
    outline: none;
    cursor: pointer;
    transition: 0.7s all ease;
    opacity: 0;
    z-index: -1;
    pointer-events: auto;
    transform-origin: -32px 0px;
}

.sug {
    background-color: #efefef;
    /*display: none;*/
    border-radius: 5px;
}

.msg p {
    margin-bottom: 2px !important;
}

.sug p {
    margin-left: 5px;
    margin-bottom: 5px;
}

.wrapper .typing-area .input-field input:valid~.submitBtn {
    opacity: 1;
    z-index: 1;
    right: -2%;
}

.wrapper .typing-area .input-field .submitBtn:hover {
    transition: 0.5s all ease;
    transform: rotate(-30deg);
}

.rotate {
    position: absolute;
    top: 50%;
    right: 90%;
    transform: translateY(-50%);
    background: transparent;
    border: 0px solid #006FBC;
    padding: 5px 10px;
    border-radius: 3px;
    color: #006FBC;
    outline: none;
    cursor: pointer;
    transition: 0.7s all ease;
    opacity: 0;
    z-index: -1;
    pointer-events: auto;
    transform-origin: -32px 0px;
}